
.form{
	border:1px solid blue;
width: 650px;
/ height: 690px;
 margin: auto;
 
 line-height:1.5;
 font-family:arial;
 padding:10px 10px;
 border-radius:8px;
 box-shadow:0 10px 10px;**/
 color:black;

	
}
